<div class="animated fadeIn">
  <div class="jumbotron">
    <img
    class="bg-img"
    src="assets/img/emc-jumbotron2.jpg"
    alt="">
    <h1>核心策略</h1>
  </div>
</div>


<div class="container text-banner">
  <div class="row mb-5">
    <div class="col-md-4 order-md-2 align-self-center" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="750">
      <div class="feature-media">
        <span class="fa-stack fa-3x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa-crosshairs fa-stack-1x"></i></span>
      </div>
    </div>

    <div class="col-md-8 order-md-1">
      <h3 class="font-weight-500" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">精準行銷</h3>
      <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
        有別於一般的行銷業務，我們採用的是顧問式銷售的模組，策略面強調一對一的客製化服務流程，透過完整的資訊蒐集與內需評估，來優化整體銷售服務的品質與效益，讓產品與客戶產生最緊密的連結。
      </p>
      <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
        我們也是全台灣業務數量最龐大的行銷顧問公司，透過系統化的人資定位，達到服務與產能的最大化
      </p>
    </div>

  </div>
</div>



<div class="parallax" style="background-image: url('assets/img/emc-jumbotron2.jpg')">
  <div class="parallax-bg"></div>
</div>



<div class="container text-banner">
  <div class="row mb-5">
    <div class="col-md-4 align-self-center" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="750">
      <div class="feature-media">
        <span class="fa-stack fa-3x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa-street-view fa-stack-1x"></i></span>
      </div>
    </div>

    <div class="col-md-8">
      <h3 class="font-weight-500 text-right" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">平台行銷</h3>
      <p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
        承續以獵頭公司為雛形，希望藉由挖掘.培育.及職場操作，拓展也內人才，進而成為企業主與新鮮人的社會橋樑，同時形成一個內在消費圈，如同ＫＯＬ效應般，藉由積攢影響力來形塑品牌魅力與忠誠
      </p>
    </div>
  </div>
</div>



<div class="parallax" style="background-image: url('assets/img/emc-jumbotron2.jpg')">
  <div class="parallax-bg"></div>
</div>



<div class="container text-banner">
  <div class="row mb-5">
    <div class="col-md-4 order-md-2 align-self-center" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="750">
      <div class="feature-media">
        <span class="fa-stack fa-3x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa-users fa-stack-1x"></i></span>
      </div>
    </div>

    <div class="col-md-8">
      <h3 class="font-weight-500" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">人海行銷</h3>
      <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
        網路的串連一直是現代人的慣性與依賴，所以在依附的同時我們也在無意間建立了所謂的自媒體文化。
      </p>
      <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
        因此我們透過『人人都是一個廣告平台』的觀念，建構了一套人海戰術。即是將業務與自媒體做串連，並利用現有的網路平台如，Facebook.Instagram等，來大量提升產品觸及率。
      </p>
      <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
        有別於普遍市場上ＫＯＬ的行銷策略，廣告投放的運作成本，承續公司透過素人平台的串連，得以在壓低相關的專案成本之餘，同時達到有效的市場曝光及宣傳
      </p>
    </div>
  </div>
</div>



<div class="parallax" style="background-image: url('assets/img/emc-jumbotron2.jpg')">
  <div class="parallax-bg"></div>
</div>



<div class="container text-banner">
  <div class="row">
    <div class="col-md-4 align-self-center" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="750">
      <div class="feature-media">
        <span class="fa-stack fa-3x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa-handshake fa-stack-1x"></i></span>
      </div>
    </div>

    <div class="col-md-8">
      <h3 class="font-weight-500 text-right" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">青年顧問式服務</h3>
      <p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
        我們也歡迎對於商業有興趣的朋友，沒有年齡的限制與罣礙，我們會提供最完善的服務，為您量身打造專屬於你的專案企劃。
      </p>
      <p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
        透過顧問式服務，培訓不再是大鍋菜式的教育，跳脫傳統理論式的學習慣性，客製化的針對不同的特質與天份，安排合適的教材，同時提供多項與產業連結的管道，讓專業不再僅有概念！.Instagram等，來大量提升產品觸及率。
      </p>
    </div>
  </div>
</div>
