$md : 768px;
h3.title{
  @media (max-width: $md) {
    text-align: center !important;
  }
}

.feature-media {
  text-align: center;
  margin-bottom: 20px;
}

.icon-background-default {
  color: #1e73be;
}

.feature-icon {
  color: white;
}
