<!-- Footer -->
<footer class="page-footer font-small footer-bg pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">關注我們</h5>
        <p>
          <a class="site-footer"><i class="fab fa-facebook-square"></i></a>
          <a class="site-footer" href="https://www.instagram.com/emclife0302/?hl=zh-tw" target="_blank"><i class="fab fa-instagram"></i></a>
          <a class="site-footer" href="https://www.youtube.com/channel/UCbMv3JRgA2mlQoJHbOgnvnw" target="_blank"><i class="fab fa-youtube"></i></a>
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">聯絡方式</h5>

        <ul class="list-unstyled">
          <li>
            <span class="pr-2"><i class="fa fa-map-marker"></i></span>
            <a>台北市南京東路二段132號8樓</a>
          </li>
          <li>
            <span class="pr-2"><i class="fa fa-phone fa-flip-horizontal"></i></span>
            <a>02-2361-1547</a>
          </li>
          <li>
            <span class="pr-2"><i class="fa fa-envelope"></i></span>
            <a>pb01020102@gmail.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href=""> Andrew</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
