<div class="animated fadeIn">
  <div class="jumbotron">
    <img
    class="bg-img"
    src="assets/img/emc-jumbotron3.jpg"
    alt="">
    <h1>服務項目</h1>
  </div>

  <div class="container text-banner">
    <div class="line-text">
      <h1 class="font-weight-900" data-aos="fade-up" data-aos-duration="1000">
        項目種類
      </h1>
    </div>

    <div class="row mb-4">
      <div class="col-md-6 mb-4" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
        <div class="card shadow">
          <div class="card-body row">
            <div class="card-icon"><i class="fab fa-instagram"></i></div>
            <div class="card-content col">
              <h5 class="card-title"><b>廣告優化</b></h5>
              <span>SEO優化.CRM客戶關係管理系統.VAS系統策略.文案作業 …</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
        <div class="card shadow">
          <div class="card-body row">
            <div class="card-icon"><i class="fab fa-buysellads"></i></div>
            <div class="card-content col">
              <h5 class="card-title"><b>品牌營銷</b></h5>
              <span>內容行銷.議題行銷.文案製作.產品定位與再造</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6 mb-4" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
        <div class="card shadow">
          <div class="card-body row">
            <div class="card-icon"><i class="fa fa fa-map-signs"></i></div>
            <div class="card-content col">
              <h5 class="card-title"><b>配銷通路</b></h5>
              <span>業專推廣.傳產通道.電子商務.數位行銷</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
        <div class="card shadow">
          <div class="card-body row">
            <div class="card-icon"><i class="fa fa fa-child"></i></div>
            <div class="card-content col">
              <h5 class="card-title"><b>其他相關服務</b></h5>
              <span>企業內訓.客製化商訓.業務培訓.行銷顧問.人力派遣.企劃撰寫</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="parallax" style="background-image: url('assets/img/emc-jumbotron3.jpg')">
    <div class="parallax-bg"></div>
  </div>



  <div class="container text-banner">
    <div class="line-text">
      <h1 class="font-weight-900" data-aos="fade-up" data-aos-duration="1000">
        服務優勢
      </h1>
    </div>

    <div class="row mb-5" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
      <div class="col-md-8">
        <p>
          我們擁有自身所創建的銷售平台與通路，從客戶端的開發與經營到網路營銷或實地行銷，承續皆能運用人網作為媒介，不僅落實廣告高觸及率的可靠性，同時也能有效的增加訊息的推播單位，更勝一疇的還有透過長時間經營的顧客消費圈，能作為基本消費額的保障。
        </p>
      </div>
    </div>

    <div class="row" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
      <div class="col-md-8 offset-md-4">
        <p>
          意味著承續從行銷策略.市場分析.提供消費平台.到資訊觸及率的提升，甚至售後服務都是一手掌握與策劃，當然成本的掌握度高，就是為了能藉此反應在價格的彈性與餘裕上，如此一來中小型企業便達到了，既能管控成本風險亦能創造預期銷售效益的雙贏政策！
        </p>
      </div>
    </div>

  </div>
</div>
