<div class="wrap animated fadeIn">
  <div class="carousel">
    <img src="assets/img/carousel1.jpeg">
    <img src="assets/img/carousel2.jpg">
  </div>

  <div class="c2">
    <span class="text-wrapper">
      <span class="letters one">承續行銷顧問有限公司</span>
    </span>
    <span class="text-wrapper">
      <span class="letters two">Endless Marketing Consultant</span>
    </span>
  </div>
</div>

<div class="container text-banner">
  <div class="line-text">
    <h1 class="font-weight-900" data-aos="fade-up" data-aos-duration="1000">
      關於我們
    </h1>
  </div>

  <div class="row mb-5" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="0">
    <div class="col-md-8">
      <h3 class="font-weight-500">台灣最年輕的新創團隊</h3>
      <p>
        我們希望藉此為年輕人發聲，別讓年紀的綑綁與束縛成了扼殺理想的兇手，縱使年紀是稚嫩的，但我們對於貢獻社會的熱誠及膽識絕對不落人後！
      </p>
    </div>
  </div>

  <div class="row mb-5" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="0">
    <div class="col-md-8 offset-md-4">
      <p>
        有別於傳統的顧問公司，承續行銷顧問公司是由一群平均年僅二十三歲的年輕人所組成的新創顧問團隊，跳脫了市場的刻板與框架，撕下了常年伴隨左右的世俗標籤，我們致力於成為台灣青年的引路人，以及提升中小型企業競爭的幕後推手！
      </p>
    </div>
  </div>

  <div class="row" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="0">
    <div class="col-md-8">
      <p>
        除此之外不容忽視的當然還有長年伴隨市場的，實地行銷經驗以及管顧經歷，從傳統業務到多媒體串連，倍增市場學實務，甚至是講師及培訓師的資歷。相信我，年輕僅能是您對數字及外在的第一印像，但在市場上的我們可一點也不年輕！
      </p>
    </div>
  </div>

</div>

<div class="parallax" style="background-image: url('assets/img/emc-jumbotron.jpg')">
  <div class="parallax-bg"></div>
</div>


<div class="container text-banner">
  <h1 class="font-weight-900" data-aos="fade-up" data-aos-duration="1000">
    服務品牌與合作代理
  </h1>

  <div class="row mb-5">
    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="125">
      <img class="img-fluid mb-4" src="assets/img/partner1.png">
    </div>
    <div class="col-md-3 col-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="250">
      <img class="img-fluid mb-4" src="assets/img/partner2.png">
    </div>
    <div class="col-md-3 col-6" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="375">
      <img class="img-fluid mb-4" src="assets/img/partner3.png">
    </div>
    <div class="col-md-3 col-6" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
      <img class="img-fluid mb-4" src="assets/img/partner4.png">
    </div>

    <div class="col-md-3 col-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="125">
      <img class="img-fluid mb-4" src="assets/img/partner5.jpg">
    </div>
    <div class="col-md-3 col-6" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="250">
      <img class="img-fluid mb-4" src="assets/img/partner6.png">
    </div>
    <div class="col-md-3 col-6" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="375">
      <img class="img-fluid mb-4" src="assets/img/partner7.png">
    </div>
    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
      <img class="img-fluid mb-4" src="assets/img/partner8.png">
    </div>
  </div>

</div>


<div class="parallax" style="background-image: url('assets/img/emc-jumbotron.jpg')">
  <div class="parallax-bg"></div>
</div>
